.medal-container {
    margin: .3em;
    display: flex;
    gap: 1em;
}

.medal-container > * {
    height: fit-content;
    margin: auto;
}

.medal-subcontainer-2 {
    display: flex;
    gap: .3em;
}